.education-image {
  width: 100%;
  max-width: 600px;
  margin-top: 1.5rem;
}

.education-line {
  margin-top: 2rem;
}

.education-story {
  max-width: 52rem;
  margin: 1.8rem auto;
}

.education-separator {
  width: 5rem;
  border-bottom: 1px solid #fa7269;
  margin: auto;
}

.exchanges-section {
  background: #fa7269;
}

.exchange-title,
.exchange-subtitle {
  color: #ffffff;
}
