@font-face {
  font-family: "Avenir Light";
  font-style: normal;
  font-weight: normal;
  src: url("public/fonts/AvenirLTStd-Light.woff") format("woff");
}

@font-face {
  font-family: "Didot Italic";
  font-style: normal;
  font-weight: normal;
  src: url("public/fonts/didot-italic.woff") format("woff");
}
