/* HOME PAGE */

.quote-section {
  display: flex;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .quote-section {
    flex-direction: column;
  }
}

.quote-section-text-container {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: "Didot Italic";
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .quote-section-text-container {
    position: absolute;
    top: calc(50% - 4.25rem); /* 4.25rem is the total height */
    right: 5%;
    left: 5%;
    width: auto;
    padding: 1rem;
    background: #fa7269;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.quote-section-image-container {
  width: 50%;
  max-height: 23rem;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .quote-section-image-container {
    width: 100%;
  }
}

.quote-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  background: #ffffff;
}

.whoami-text {
  margin: 1.5rem;
  line-height: 2;
}

.home-block {
  background: #f2eee9;
}

.whoami-title,
.trust-title {
  color: #fa7269;
}

.block-title {
  font-family: "Didot Italic";
  font-size: 1.375rem;
  color: #fa7269;
}

.block-subtitle {
  margin-top: 1rem;
  font-size: 1.125rem;
}

.block-logo {
  width: 20%;
  margin-right: 2rem;
}

.block-logo:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1023px) {
  .block-logo {
    margin-bottom: 2rem;
    margin-right: 0;
    width: 80%;
    max-width: 30rem;
    align-self: center;
  }
}

.experience-link-button {
  margin-top: 1.5rem;
}
